[Desktop Entry]
Version=1.0
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
StartupNotify=false

MimeType=image/tiff;image/png;image/jpeg;
Actions=toCube;toSphere;toSphereFinal;createTour;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Krpano
Icon=/opt/krpanotools/images/convert.png


[Desktop Action toCube]
Exec=konsole -e /opt/krpanotools/bin/ktransform -config=/opt/krpanotools/config/ktransform.config %f
Icon=/opt/krpanotools/images/krpano-transform-r.png
Name[ru]=Сфера в куб
Name=Сфера в куб

[Desktop Action toSphere]
Exec=konsole -e /opt/krpanotools/bin/kcube2sphere -config=/opt/krpanotools/config/ktransform.config %F
Icon=/opt/krpanotools/images/krpano-transform-l.png
Name[ru]=Куб в сферу
Name=Куб в сферу

[Desktop Action toSphereFinal]
Exec=konsole -e /opt/krpanotools/bin/kcube2sphere -config=/opt/krpanotools/config/ktransform_final.config %F
Icon=/opt/krpanotools/images/krpano-transform-l.png
Name[ru]=Куб в сферу (JPEG)
Name=Куб в сферу (JPEG)

[Desktop Action createTour]
Exec=konsole --hide-menubar --hide-tabbar --nofork -e /opt/krpanotools/bin/kmakemultires -config=/opt/krpanotools/templates/build/vtour-build.config %F
Icon=/opt/krpanotools/images/krpano.png
Name[ru]=Создать тур
Name=Создать тур
Comment[ru]=Создать 3Д-тур из одной или нескольких панорам
Comment=Создать 3Д-тур из одной или нескольких панорам
