[Desktop Entry]
Version=1.0
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
StartupNotify=false

MimeType=application/xml;application/javascript;
Actions=encrypt;encryptOW;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Krpano
Icon=luna

[Desktop Action encrypt]
Exec=konsole -e /opt/krpanotools/bin/kencrypt -h5 %F
Icon=/opt/krpanotools/images/krpano-encrypt.png
Name[ru]=Зашифровать
Name=Encrypt

[Desktop Action encryptOW]
Exec=konsole -e /opt/krpanotools/bin/kencrypt -ow -h5 %F
Icon=/opt/krpanotools/images/krpano-encrypt-ow.png
Name[ru]=Зашифровать (с перезаписью)
Name=Encrypt (owerwrite)
