[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/tiff;image/png;image/jpeg;
Actions=toCube;toSphere;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Krpano
Encoding=UTF-8
Icon=/opt/krpanotools/images/convert.png
Name=Конвертирование панорам

[Desktop Action toCube]
Exec=konsole -e /opt/krpanotools/bin/ktransform -config=/opt/krpanotools/config/ktransform.config %f
Icon=/opt/krpanotools/images/krpano-transform-r.png
Name[ru]=Сфера в куб
Name=Сфера в куб
Comment[ru]=Преобразовать сферическую панораму в набор граней куба
Comment=Преобразовать сферическую панораму в набор граней куба

[Desktop Action toSphere]
Exec=konsole -e /opt/krpanotools/bin/kcube2sphere -config=/opt/krpanotools/config/ktransform.config %F
Icon=/opt/krpanotools/images/krpano-transform-l.png
Name[ru]=Куб в сферу
Name=Куб в сферу
Comment[ru]=Собрать грани куба в сферическую панораму
Comment=Собрать грани куба в сферическую панораму