[Desktop Entry]
Version=1.0
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
StartupNotify=false

MimeType=image/tiff;image/png;image/jpeg;
Actions=toCube;toSphere;toSphereFinal;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Krpano
Icon=/opt/krpano/images/convert.png


[Desktop Action toCube]
Exec=konsole -e krpano transform -config=/opt/krpano/config/ktransform.config %f
Icon=/opt/krpano/images/krpano-transform-r.png
Name[ru]=Сфера в куб
Name=Сфера в куб

[Desktop Action toSphere]
Exec=konsole -e krpano cube2sphere -config=/opt/krpano/config/ktransform.config %F
Icon=/opt/krpano/images/krpano-transform-l.png
Name[ru]=Куб в сферу
Name=Куб в сферу

[Desktop Action toSphereFinal]
Exec=konsole -e krpano cube2sphere -config=/opt/krpano/config/ktransform_final.config %F
Icon=/opt/krpano/images/krpano-transform-l.png
Name[ru]=Куб в сферу (JPEG)
Name=Куб в сферу (JPEG)
