[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/tiff;image/png;image/jpeg;
Actions=createTour;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Krpano
Encoding=UTF-8
Icon=luna
Name=Создать 3Д-тур из выделенных панорам

[Desktop Action createTour]
Exec=konsole -e /opt/krpanotools/bin/kmakemultires -config=/opt/krpanotools/templates/build/vtour-build.config %F
Icon=/opt/krpanotools/images/krpano.png
Name[ru]=Создать тур
Name=Создать тур
Comment[ru]=Создать 3Д-тур из одной или нескольких панорам
Comment=Создать 3Д-тур из одной или нескольких панорам