[Desktop Entry]
Actions=resize;
Encoding=UTF-8
Icon=/opt/krpanotools/images/resize.png
MimeType=image/tiff;image/png;image/jpeg;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-Submenu=ImageMagick

[Desktop Action resize]
Exec=/bin/bash -c "/opt/krpanotools/scripts/yhdt-create-preview '%f'"
Icon=/opt/krpanotools/images/images.png
Name[ru]=Превью
Name=Resize
