[Desktop Entry]
Name=UFRAW
Type=Application
Categories=Graphics;Photography;GTK;

Exec=ufraw --create-id=only --wb=auto %f
Terminal=false
StartupNotify=true

MimeType=image/x-dcraw;

Icon=ufraw
